# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
---
site_name: "persistent-cache-decorator"
site_url: "https://FlavioAmurrioCS.github.io/persistent-cache-decorator/"
site_description: "Documentation for persistent-cache-decorator"
site_author: "Flavio Amurrio"
copyright: |
  Copyright &copy; 2025 Flavio Amurrio
theme:
  name: material
  language: en
  features:
    - announce.dismiss
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.footnote.tooltips
    - content.tabs.link
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.path
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.highlight
  palette:
    - scheme: default
      toggle:
        icon: lucide/sun
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: lucide/moon
        name: Switch to light mode

not_in_nav: |
  /example
